{%load static%}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" style="background-color: rgb(45, 70, 80); padding: .7rem 10%;">
    <div class="container">
            <a class="navbar-brand" href="#">
                <img id="banner" style="height: 30px;" src="" alt="">
                <!-- {% static "img/logo_upi_2.png" %} -->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                    <span class="sr-only">(current)</span>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/database">Database</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="modal" data-target="#logoutModal" type="submit" name="logout " >{{ request.user.username }}</a>        
                      <div class="modal open" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true" >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="logoutModalLabel">Are you sure you want to logout?</h5>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                              <form method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit" name="logout" value="Submit">Logout</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                </li>
                {% endif %}
            </ul>  
            </div>
    </div>
</nav>